<h1 class="text-4xl font-bold text-blue-500">
    Main Home Page
</h1>

<section>
    <h4>Posts</h4>
    <form action="" id="" method="post">
        <textarea rows="3" cols="30" name="content"></textarea>
        <input type="submit" value="Post"/>
    </form>
</section>